/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/*Font face*/
@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L004.otf');
    src: url('../font/TitilliumText25L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L004-webfont.woff') format('woff'),
         url('../font/TitilliumText25L004-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L004-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L003.otf');
    src: url('../font/TitilliumText25L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L003-webfont.woff') format('woff'),
         url('../font/TitilliumText25L003-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L003-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L001.otf');
    src: url('../font/TitilliumText25L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L001-webfont.woff') format('woff'),
         url('../font/TitilliumText25L001-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L001-webfont.svg') format('svg');
    font-weight:500;
    font-style: normal;
}
$primaryBlue: #52a0b7;
$secondaryBlack: #505050;
$tertaryPurple: #6648a9;

@mixin width100 
{
	$percentage : 98%;
	width: $percentage;
}

@mixin borderShadows
{
	@include box-shadow(rgba(black, 0.2) 0 0 7px 2px);
}

body
{
	font-family: 'tTextFont','Helvetica', 'Arial', sans-serif;
	font-weight: 200;
	div 
	{
		padding: 1%;

	}
}

h1 {
	font-size: 2.8em;
	font-weight: 500;
	color:$secondaryBlack;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
	color:$secondaryBlack;
}

.clear {
	clear:both;
	padding: 0px;
}


.cols {
	float:left;
	margin:0;
	padding:0;
}


.header
{
	@include width100;
	@include borderShadows;
	//@include background-image(linear-gradient(left top, #353535, #2d2d2d));
	background:url('../images/black_mamba_gradient.png') repeat top left;
	font-size: 2em;
	height:10%;
	position:fixed; 
	top:0px; 
	color:white;
	float:left;
	text-align:center;
	.header_container {
		width:80%;
		margin:0 auto;
		padding:0px;
		.image {
			width:300px;
			min-height:50px;
			margin:0 auto;
			padding:0px;
			background:url('../images/logo.png') no-repeat center center ;
			background-size:300px;

		}
	}
}

#skillsBlock
{
	
	@include width100;
	position:fixed;
	top:0px;
	padding-top:12%;
	height:100%;
	background-color:#fff;

	#twitterBlock
	{

		position:absolute;
		top:7%;
		margin:0 10%;
		width:80%;
		padding:1% 0px;
		color:$primaryBlue;

		span
		{
			color:$tertaryPurple;
		}
	}
	#skillsContainer 
	{
		width:80%;
		margin:0 auto;
		padding:0 1%;


		h1{ font-size: 4em;}
		ul {
			margin:10px 0;
			li
			{
				line-height: 1.4em;
			}
		}
		p {line-height: 2.5em; }
		span {
			font-family: 'tTextFont','Helvetica', 'Arial', sans-serif;
			font-weight: 300;
			font-size: 1.8em;
			color:$tertaryPurple;
		}

	}
}
#contentHolder {
	position:absolute; 
	padding: 0;
	height:85%; 
	top:80%; 
	width:100%;
	background-color: green;
}
#contentBlock
{
	height:100%;
	@include borderShadows;
	@include width100;
	@include background-image(radial-gradient(center center, #54b0e1 0%, $primaryBlue 100%)); 
	background-color:$primaryBlue;
	h1 {
		-webkit-text-stroke: 2px $primaryBlue;
		color:white;
		padding:0px;
		width: 80%;
		margin:0 auto;
		margin-top:-50px;
	}	
/*	#portfolio_summary {
		opacity:0.0;
		position:absolute;
		background-color:grey;
		top:0px;
		margin: 0 10%;
		width: 80%;
		div.item_image{
			background-color:white;
			margin:5px;
			float:left;
		}
	}*/
	#portfolio_section
	{
		//background-color:white;
		margin: 0 auto;
		padding:1% 0;
		width: 80%;
		height:75%;
		//opacity:0.0;
		h3 {
			margin:10px;
			font-weight: 300;
		}
		h4 {
			margin: 5px 0;
		}
		.item_image
		{
			float:left;
			width: 200px;
			height:200px;
			margin: 10px;
			background-size:50px 50px;
			padding-left:0;
			margin-left: 0;
			background-color:white;
		}
		a{
			margin: 5px 0;
			color: $tertaryPurple;
		}
	
	}
}