/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

/*Font face*/
@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L004.otf');
    src: url('../font/TitilliumText25L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L004-webfont.woff') format('woff'),
         url('../font/TitilliumText25L004-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L004-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L003.otf');
    src: url('../font/TitilliumText25L003-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L003-webfont.woff') format('woff'),
         url('../font/TitilliumText25L003-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L003-webfont.svg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'tTextFont';
    src: url('../font/TitilliumText25L001.otf');
    src: url('../font/TitilliumText25L001-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/TitilliumText25L001-webfont.woff') format('woff'),
         url('../font/TitilliumText25L001-webfont.ttf') format('truetype'),
         url('../font/TitilliumText25L001-webfont.svg') format('svg');
    font-weight:500;
    font-style: normal;
}
$primaryBlue: #52a0b7;
$secondaryBlack: #505050;
$tertaryPurple: #6648a9;

@mixin width100 
{
	$percentage : 98%;
	width: $percentage;
}

@mixin borderShadows
{
	@include box-shadow(rgba(black, 0.2) 0 0 7px 2px);
}

@mixin arrow-right($height) {
	width: 0; 
	height: 0; 
	border-top: $height solid transparent;
	border-bottom: $height solid transparent;
	
	border-left: $height solid $tertaryPurple;
}

body
{
	font-family: 'tTextFont','Helvetica', 'Arial', sans-serif;
	font-weight: 200;
	div 
	{
		padding: 1%;

	}
}

h1 {
	font-size: 2.8em;
	font-weight: 500;
	color:$secondaryBlack;
}
h2 {
	font-size: 1.5em;
	font-weight: 500;
	color:$secondaryBlack;
}

a{
	margin: 5px 0;
	text-decoration: none;
	color: white;

	&:hover {
		color:$tertaryPurple;
	}
}

.clear {
	clear:both;
	padding: 0px;
}


.cols {
	float:left;
	margin:0;
	padding:0;
	padding-bottom: 20px;
}

.row2 {
	position: relative;
	bottom:55%;
}

.header
{
	@include width100;
	@include borderShadows;
	//@include background-image(linear-gradient(left top, #353535, #2d2d2d));
	background:url('../images/black_mamba_gradient.png') repeat top left;
	font-size: 2em;
	height:12%;
	min-height: 40px;
	position:fixed; 
	top:0px; 
	color:white;
	float:left;
	text-align:center;
	.header_container {
		width:80%;
		margin:0 auto;
		padding:0px;
		.image {
			width:300px;
			min-height:50px;
			margin:0 auto;
			padding:0px;
			background:url('../images/logo.png') no-repeat center center ;
			background-size:300px;

		}
	}
}



#socialBlock, 
#mobileSocialBlock
	{
		@include width100;
		position:fixed;
		top:10%;
		margin:0% 10%;
		width:80%;
		height:1em;
		padding:0 1%;
		color:$primaryBlue;


		#linkedin
		{
			background-image:url('../images/linkedin.png');
		}

		#email
		{
			background-image:url('../images/mail.png')  ;
		}

		a {
			float:left;
			width:42px;
			height:42px;
			margin:0 auto;
			padding:0px;
			margin-right: 10px;
			background-position: top center;
			background-size:95%;
			background-repeat: no-repeat;

		}
		span
		{
			color:$tertaryPurple;
		}
	}

#mobileSocialBlock
{
	display: none;

}

#twitterBlock 
{
	text-overflow: ellipsis;
	width: 60%;
	overflow: hidden;
}
#skillsBlock
{
	
	@include width100;
	position:fixed;
	top:19%;
	padding-top:0;
	height:100%;
	background-color:#fff;


	#skillsContainer 
	{
		position: relative;
		width:80%;
		margin:0 auto;
		padding:0 1%;

		.section-left
		{
			width:50%;
		}

		.section-right
		{
			width:25%;
		}

		h1{ font-size: 4em;}
		ul {
			margin:10px 0;
			li
			{
				line-height: 1.4em;
			}
		}
		p {line-height: 2.5em; }
		span {
			font-family: 'tTextFont','Helvetica', 'Arial', sans-serif;
			font-weight: 300;
			font-size: 1.8em;
			color:$tertaryPurple;
		}

	}
}
#contentHolder {
	position:absolute; 
	padding: 0;
	height:80%; 
	top:65%; 
	width:100%;
}
#contentBlock
{
	height:100%;
	@include borderShadows;
	@include width100;
	@include background-image(radial-gradient(center center, #54b0e1 0%, $primaryBlue 100%)); 
	background-color:$primaryBlue;
	h1 {
		-webkit-text-stroke: 2px $primaryBlue;
		color:white;
		padding:0.5% 0px;
		width: 80%;
		margin:0 auto;
		margin-top:-60px;
	}	
/*	#portfolio_summary {
		opacity:0.0;
		position:absolute;
		background-color:grey;
		top:0px;
		margin: 0 10%;
		width: 80%;
		div.item_image{
			background-color:white;
			margin:5px;
			float:left;
		}
	}*/
	#portfolio_section
	{
		//background-color:white;
		margin: 0 auto;
		padding:1% 0;
		width: 80%;
		height:84%;
		//opacity:0.0;
		h3 {
			margin:10px;
			font-weight: 300;
		}
		h4 {
			margin: 10px 0;
			min-height: 2em;
		}
		.item_image
		{
			float:left;
			width: 200px;
			height:200px;
			margin:0px;

			background-image: url('http://pizzaromahalal.com/wp-content/uploads/2010/05/pizza.jpg');
			background-size: 100% 100%;
			background-color: white;
			border: 5px solid white;
			margin-right: 10px;

		}

		.item_info
		{
			height:49%;
		}
		.arrow-right-7 {
			padding: 0;
			float:left;
			margin: 0px 5px 0 0;
			@include arrow-right(7px);
		}

	
	}
}

/*Media Queries max 1000px */

@media only screen and (max-width: 1000px) {
	
	

	#skillsBlock #skillsContainer 
	{
		.clear{clear:none;}

		.section-left
		{
			width:0%;
		}

		.section-right
		{
			width:50%;
		}
		h1 {
			font-size: 2em;
		}
		p{
			line-height: 1.5em;
		}
		span 
		{
			font-size:1em;
		}
	}
	h2 	
	{
		font-size: 1em;
	}

	ul 
	{
		font-size: 0.8em;
	}

	#contentBlock #portfolio_section .item_image
		{
			width: 150px;
			height:150px;
			background-size:100% 100%;
		}

}

/*Media Queries max 600px */

@media only screen and (max-width: 600px) {
		.item_info 
	{
		h3{ display: none;}
		float: left;
		min-height: 80px;
		max-height:90px;
	}
}

/*Media Queries max 400px */

@media only screen and (max-width: 480px) {

	 h1, #contentBlock h1 {
		font-size: 1em;
		-webkit-text-stroke: 0px;
	}

		#contentBlock #portfolio_section .item_image
		{
			width: 75px;
			height:75px;
			background-size:100% 100%;
		}
	#mobileSocialBlock
	{
		display: block;
	}
	#socialBlock
	{
		display: none;
	}
}

	@media  screen and (orientation: landscape) and (max-height:480px){
		#contentBlock h1 {
			position: fixed;
			font-size: 1em;
			-webkit-text-stroke: 0px;
			margin: 0 10%;
		}

		#socialBlock
		{
			display: none;
		}
		#contentHolder{
			position: fixed;
			top:90%;
		}
		#portfolio_section
		{
			display: none;
		}
}


